<% provide :title, t(".title") %>
<section id="main" class="container">
  <header>
    <h2><%= t ".title" %></h2>
    <p>Get your new target. Nothing is impossible.</p>
  </header>
  <div class="box">
    <%= render partial: "form" %>
  </div>
</section>


