<!-- Header -->
      <header id="header">
        <h1><%= link_to "learn.xyz", root_url %> by A's Team</h1>
        <nav id="nav">
          <ul>
            <li><%= link_to "Home", root_url %></li>
            <li><%= link_to "Contact", contact_url %></li>
            <li><a href="#" class="button">Sign Up</a></li>
          </ul>
        </nav>
      </header>